* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.continar {
    background-color: #1E1E1E;
    height: 100vh;
    display: flex;
    justify-content: center;


}

.cards {
    width: 70%;
    height: 60vh;
    display: flex;
    margin-top: 5vh;
    overflow: hidden;
}

.card-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.card-text-articl>h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.25em;
    color: #ffffff;
}

.card-text-articl>h1>span {
    color: #AA5CDB;
}

.card-text-articl>p {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 400;
    color: #ffffff;
    margin-top: 22px;
    width: 90%;
    text-align: justify;
}

.card-taxt-ratings {
    display: flex;
    color: #ffffff;
    gap: 32px;
    margin-top: 10px;
}

.card-taxt-ratings>h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 29px;
}

.card-taxt-ratings>p {
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
}

.card-images {
    width: 50%;
    height: 100%;
}

.card-images>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

@media only screen and (max-width: 1000px) {
    .card-images {
        width: 40%;
    }

    .card-text {
        width: 60%;
    }
}

@media only screen and (max-width: 865px) {
    .card-images {
        width: 30%;
    }

    .card-text {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        height: 90vh;
        flex-direction: column-reverse;
    }

    .card-images {
        width: 100%;
        height: 50%;
    }

    .card-text {
        width: 100%;
        height: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .card-images {
        height: 40%;
    }

    .card-text {
        height: 60%;
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        width: 100%;
        margin-top: 2vh;

    }

    .card-images {
        height: 20%;
        width: 100%;
    }

    .card-text {
        height: 80%;
        width: 100%;
        padding: 0;
        margin-top: 20px;
    }

    .card-text-articl>h1 {
        text-align: center;
    }

    .card-text-articl>p {
        text-align: center;
        width: 100%;
    }

    .card-taxt-ratings {
        justify-content: space-between
    }
}

@media only screen and (max-width: 465px) {
    .cards {
        width: 90%;
    }

    .card-text {
        height: 70%;
        padding: 0;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 465px) {}